# Copyright (c) 2025 The ZMK Contributors
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause

manifest:
  remotes:
    - name: zmkfirmware
      url-base: https://github.com/zmkfirmware
    - name: nrfconnect
      url-base: https://github.com/nrfconnect
  projects:
    - name: zmk
      remote: zmkfirmware
      revision: main
      import: app/west.yml
    - name: sdk-nrf
      remote: nrfconnect
      # align to commit:
      #   https://github.com/nrfconnect/sdk-zephyr/blob/ffdab1b6b90658e0a9fc9a3ae64e45e37c3e9386/VERSION
      #   https://github.com/nrfconnect/sdk-nrf/commit/e50881920d7be8132024e1732dee3960fcac9829
      #   sdk-nrf v3.1.1 + sdk-zephyr v4.1.99
      revision: v3.1.0
      path: nrf
    - name: nrfxlib
      remote: nrfconnect
      revision: v3.1.0
      repo-path: sdk-nrfxlib
      path: nrfxlib
  self:
    path: config
